body {
  margin: 0;
  font-family: calibri;
}

.header {
  /* background-color: #fff; */
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5em;
}

.logo a {
  color: black;
  text-decoration: none;
}

 .menu {
  list-style: none;
  margin: 0; 
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} 


.menu li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 15px 20px;
  transition: background-color 0.3s ease;
}

.menu li a:hover, .right-menu a:hover {
  /* background-color: #f4f4f4; */
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
}

.right-menu {
  display: flex;
  align-items: center;
}

.right-menu a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 10px;
  margin: 5px;
  transition: background-color 0.3s ease;
}





.header .profile-container {
  position: relative;
  cursor: pointer;
}


.header .dropdown-menu li {
  padding: 5px;
  cursor: pointer;
}

.header .dropdown-menu li:hover {
  background: #f5f5f5;
}

.header .profile-container.open .dropdown-menu {
  display: block;
}
.profile-img{
  width: 30px;
  mix-blend-mode: color-burn;
}
